.login-container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 90vh;
}

.login-form-container {
  gap: 20px;
}
