.log-out-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: .5rem;
    color: #fff;
    background-color: #f00;
    cursor: pointer;
    border: none;
    margin: auto;
}