.academics-programs-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.app-header {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  background-color: var(--background-color-light);
  padding: 1rem;
  border-radius: .5rem;
}

.app-body {
  width: 100%;
  padding: 1rem;
  border-radius: .5rem;
  background-color: var(--background-color-light);
}