.users-management-page {
  padding: 1rem;
}

.ump-header {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  gap: 0.5rem;
  background-color: var(--background-color-light);
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.ump-body {
  width: 100%;
  background-color: var(--background-color-light);
  padding: 1rem;
  border-radius: 0.5rem;
}
