.registration-institute-container {
  width: 100%;
  max-width: 800px;
  height: 100%;
  max-height: 100vh;
  margin: 0 auto;
  padding: 10px;
}

.registration-actions-section {
  margin-top: 20px;
}

.tac-check {
  gap: 10px;
}

#tac-check {
  height: 16px;
  width: 16px;
}