.sidebar-option-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  color: var(--secondary-color);
}

.sidebar-option-component.soc-is-selected {
  background-color: var(--secondary-color);
  color: white;
}
