.terms-and-conditions-container {
  max-width: 800px;
  margin: 0 auto;
  gap: 20px;
}

.text-tac-container {
  max-height: 600px;
  overflow: auto;
  border: 1px solid var(--primary-color);
  text-align: justify;
}

.tac-actions-section {
  gap: 10px;
  padding: 10px 0;
}