:root {
  --primary-color: #2b7fff;
  --secondary-color: #ff6900;

  --background-color-normal: #f3f4f6;
  --background-color-light: #ffffff;
  --background-color-inactive: #e5e7eb;
}

/* ================================================== */
/* GENERALS */
/* ================================================== */

body {
  max-height: 100vh;
  overflow: hidden;
}

.page-container {
  width: 100%;
  min-height: 100vh;
  background-color: var(--background-color-normal);
}

.full-section {
  width: 100%;
  height: 100vh;
}

.w-full {
  width: 100%;
}

/* ================================================== */
/* HEADINGS */
/* ================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
  padding: 20px 10px;
}

h1 > span,
h2 > span,
h3 > span,
h4 > span,
h5 > span,
h6 > span {
  color: var(--secondary-color);
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 26px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 22px;
}

/* ================================================== */
/* FLEX */
/* ================================================== */

.flex-c {
  display: flex;
  flex-direction: column;
}

.flex-r {
  display: flex;
  flex-direction: row;
}

.flex-cc {
  align-items: center;
  justify-content: center;
}

.flex-cb {
  align-items: center;
  justify-content: space-between;
}

/* ================================================== */
/* BACKGROUNDS */
/* ================================================== */

.bg-lg {
  background-image: url(./assets/backgrounds/ld.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-pl {
  background-image: url(./assets/backgrounds/pl.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
