.sapiens-layout {
  width: 100%;
  min-height: 100dvh;
  max-height: 100dvh;
  background-color: var(--background-color-normal);
  display: flex;
}

.sapiens-loading {
  width: 100%;
  height: 100dvh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color-light);
}

.sl-content-container {
  flex-grow: 1;
}

.slc-header {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--background-color-light);
}

.slc-header > h1  {
  padding: 0;
}

.slc-header > p {
  color: var(--primary-color);
}

.slc-header > p > span {
  color: var(--secondary-color);
}
